
																/*SECTION ADVANTAGES*/
.advantages {
	text-align: center;
}
.advantages ul {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типрографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}

.advantages h3 {
	/*Позиционирование*/

	/*Блочная модель*/
 
	/*Типографика*/
	font-size: 30px;
	line-height: 42px;
	/*Оформление*/

	/*Анимация*/
}

																						/*SECTION ADVANTAGES-END*/

																						/*SECTION NEWS-GALLERY*/		
.wrap-section {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;

	/*Оформление*/
	background-color: #F9F6F3;
	background-color: url("../img/png/bg/bg-section-small.png");

	/*Анимация*/
}

.wrap-section h2 {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 30px;
	line-height: 42px;

	/*Оформление*/

	/*Анимация*/
}
																					/*SECTION NEWS-GALLERY-END*/

																				