																		/*GENERAL				*/
body {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	color: #000000;

	/*Оформление*/
	background-color: #f2f2f2;
	background-image: url("../img/png/bg/bg-section-small.png");
	background-repeat: repeat;
	/*Анимация*/
}

h1 {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 30px;
	line-height: 42px;
	/*Оформление*/

	/*Анимация*/
}
																	/*GENERAL-END*/


.breadcrumbs {
	/*Позиционирование*/

	/*Блочная модель*/
	padding: 0px;
	margin: 0px;
	/*Типографика*/

	/*Оформление*/
	list-style: none;	
	/*Анимация*/
	
}
.visited-crumbs {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #aba9a7;
	/*Оформление*/

	/*Анимация*/
}
.pic-list {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
.travel-kit-full,
  .pic-list img {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	/*Оформление*/
	box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
	/*Анимация*/
}

														/*ASIDE*/
.vendor-code {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #aeaeae;
	/*Оформление*/

	/*Анимация*/
}

.price-box {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	width: 109px;
	height: 43px;
	line-height: 43px;
	/*Типографика*/
	vertical-align: middle;
	text-align: center;
	/*Оформление*/
	background-color: #e5e5e5;
	/*Анимация*/
}
.specification ul {
	/*Позиционирование*/

	/*Блочная модель*/
	margin: 0px;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}

.specification h3 {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 24px;
	font-weight: inhe;
	font-family: inherit;
	/*Оформление*/

	/*Анимация*/
}

														/*ASIDE-END*/