body {
	
	/*Позиционирование*/
	margin: 0px;
	padding: 0px;
	
	/*Блочная модель*/

	/*Типрографика*/
	text-transform: uppercase;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	line-height: 24px;
	font-weight: 700;
	font-size: 14px;
	color: white;

	/*Оформление*/
	background-color: #000000;
	background-image: url("../img/jpg/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;

	/*Анимация*/
}

a
{
	/*Позицонирвание*/

	/*Блочная модель*/

	/*Типографика*/
	color: inherit;
	text-decoration: none;

	/*Оформление*/

	/*Анимация*/

}


																						/*HEADER*/
.main-nav {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	color: #ffffff;
	/*Оформление*/
	background-color: #000000;
	/*Анимация*/
}

.site-nav {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
.site-nav a {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	font-weight: inherit;
	
	/*Оформление*/

	/*Анимация*/
}
.site-nav a:focus:not(.link-visit),
.site-nav a:hover:not(.link-visit ) {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #242424;
	/*Анимация*/
}
.link-visit {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	border-bottom: 1px solid #ffffff;
	/*Анимация*/
	
}
.user-nav {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
																				/*HEADER-END*/

/*FOOTER*/
.main-footer {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #ffffff;

	/*Оформление*/
	background-color: #232323;
	background-image: url("../img/png/bg/bg-footer-small.png");
	/*Анимация*/
}

.footer-contact {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	text-align: left;
	/*Оформление*/

	/*Анимация*/
}

.footer-social ul {
	/*Позиционирование*/

	/*Блочная модель*/
	padding: 0px;
	margin: 0px;
	/*Типографика*/
	
	/*Оформление*/
	list-style:none;
	/*Анимация*/
}

.button.copyright-button:hover {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	background-color: #ffffff;
	/*Анимация*/
}
																							/*FOOTER-END*/

																							/*POPUPS*/
.popup-user-form {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	background-color: #f8f5f2;
	/*Анимация*/
}

.popup-user-form h2 {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 30px;
	font-weight: inherit;
	font-family: inherit;
	/*Оформление*/

	/*Анимация*/
}

.popup-form input {
	/*Позиционирование*/

	/*Блочная модель*/
	width: ;
	padding-top: 16px;
	padding-left: 17px;
	padding-bottom: 17px;
	/*Типографика*/

	/*Оформление*/
	border: 2px solid #000000;
	background-color: #f9f6f3;
	/*Анимация*/
}

.popup-form input::placeholder  {
	/*Позиционирование*/

	/*Блочная модель*/
	
	/*Типографика*/
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
	/*Оформление*/

	/*Анимация*/
}
.popup-form input:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	outline: none;
	/*Оформление*/
	background-color: #f9f6f3;
	/*Анимация*/


}









																							/*POPUPS-END*/

																							/*PATTERN*/


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типография*/
	color: #faf7f4;
	font-size: 14px;
	font-weight: inherit;
	text-transform: inherit;
	text-align: center;
	vertical-align: middle;
	/*Оформление*/
	background-color: #000000;
	border: none;
	/*Анимация*/
}

.button:hover {
	/*Позиционирование*/
 
	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #242424;
	/*Анимация*/

}
.price-box {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	width: 109px;
	height: 43px;
	line-height: 43px;
	/*Типографика*/
	vertical-align: middle;
	text-align: center;
	/*Оформление*/
	background-color: #e5e5e5;
	/*Анимация*/
}
																						/*PATTERN-END*/