													/*GENERAL*/
body {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;

	/*Оформление*/
	background-color: #f8f5f2;
	background-image: url(../img/png/bg/bg-section-small.png);
	background-repeat: repeat;
	/*Анимация*/
}

													/*GENERAL-END*/

													   
.slogan {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 48px;
	line-height: 48px;
	/*Оформление*/

	/*Анимация*/
}
													/*SECTION-PRICE-RESOURSES*/

.price-resourses h2 {
	/*Позиционирование*/

	/*Блочная модель*/
	
	/*Типографика*/
	font-size: 24px;
	/*Оформление*/

	/*Анимация*/
}

.resourses {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/
	
	/*Анимация*/
}
.resourses li {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 14px;
	line-height: 24px;
	/*Оформление*/
	/*Анимация*/
}

.price-table {
	/*Позиционирование*/
	width: 462px;
	height: auto;
	/*Блочная модель*/
	display: table;
	/*Типографика*/
	
	/*Оформление*/
	border-collapse: collapse;
	/*Анимация*/
}

.price-table ul {
	/*Позиционирование*/

	/*Блочная модель*/
	display: table-row;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}

.price-table li {
	/*Позиционирование*/

	/*Блочная модедь*/
	display: table-cell;
	border: 2px solid #000101;
	padding: 15px;  
	/*Типографика*/
	
	/*Оформление*/
		
	/*Анимация*/
}
.price-table li:first-child {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 50%;
	/*Типографика*/
	
	/*Оформление*/

	/*Анимация*/
}

.price-table li:last-child {
	 /*Позиционирование*/

	 /*Блочная модель*/
	width: 50%;
	 /*Типографика*/
	text-align: center;
	 /*Оформление*/
	
	 /*Анимация*/
}

													/*SECTION-PRICE-RESOURSES-END*/


													/*SECTION-WORDS-ABOUT-US*/

.words-about-us h2 {
	/*Позиционирование*/

	/*Блочная модель*/
	
	/*Типографика*/
	font-size: 24px;
	line-height: 30px;
	/*Оформление*/

	/*Анимация*/
}

.words-about-us p {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 385px;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}

													/*SECTION-WORDS-ABOUT-US-END*/