													/*GENERAL*/
body {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;

	/*Оформление*/
	background-color: #f8f5f2;
	background-image: url(../img/png/bg/bg-section-small.png);
	background-repeat: repeat;
	/*Анимация*/
}

													/*GENERAL-END*/

													   
.slogan {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 48px;
	line-height: 48px;
	/*Оформление*/

	/*Анимация*/
}
													/*SECTION-PRICE-RESOURSES*/

.price-resourses h2 {
	/*Позиционирование*/

	/*Блочная модель*/
	
	/*Типографика*/
	font-size: 24px;
	/*Оформление*/

	/*Анимация*/
}

.resourses {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/
	
	/*Анимация*/
}
.resourses li {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 14px;
	line-height: 24px;
	/*Оформление*/

	/*Анимация*/
}

.price-table {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	
	/*Оформление*/

	/*Анимация*/
}



													/*SECTION-PRICE-RESOURSES-END*/