body {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	background-color: #f2f2f2;
	background-image: url(../img/png/bg/bg-section-small.png);
	background-repeat: repeat;
	/*Анимация*/
}

.page-title {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/

	/*Анимация*/
	
}
																		/*ASIDE-FILTER*/

.breadcrumbs {
	/*Позиционирование*/

	/*Блочная модель*/
	margin: 0px;
	padding: 0px;
	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}

.visited-crumbs {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #aba9a7;
	/*Оформление*/

	/*Анимация*/
}

.filter-list {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
																			/*ASIDE-FILTER-END*/

											
																			/*CATALOG-SECTION*/

.catalog {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 750px;
	height: auto;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}
.catalog-item {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin-right: 20px;
	margin-bottom: 20px;

	/*Типографика*/

	/*Оформление*/
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
	/*Анимация*/
}
.catalog-item:nth-of-type(3n) {
	/*Позиционирование*/
	
	/*Блочная модель*/
	margin-right: 0px;
	/*Типографика*/
	
	/*Оформление*/

	/*Анимация*/
}


.catalog-category {
	/*Позиционирование*/

	/*Блочная модель*/
	display: block;
	/*Типографика*/
	text-transform: none;
	/*Оформление*/

	/*Анимация*/
}

.catalog-list {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	
	/*Оформление*/
	list-style: none;
	/*Анимация*/
}

.pagination {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
.pagination-item {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 43px;
	height: 43px;
	display: inline-block;
	/*Типографика*/
	color: #ffffff;
	text-align: center;
	line-height: 43px;
	/*Оформление*/
	background-color: #000000;
	/*Анимация*/
	}

.current-pagination {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	background-color: #ffffff;
	/*Анимация*/
}

																					/*CATALOG-SECTION*/