body {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	background-color: #f2f2f2;
	background-image: url(../img/png/bg/bg-section-small.png);
	background-repeat: repeat;
	/*Анимация*/
}

.page-title {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/

	/*Анимация*/
	
}
																		/*ASIDE-FILTER*/


.filters fieldset {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	
	/*Оформление*/
	border:none;
	/*Анимация*/
}

.filters legend {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 24px;
	font-weight: 400px;
	/*Оформление*/

	/*Анимация*/
}

.filter-list {
	/*Позиционирование*/

	/*Блочная модель*/
	
	/*Типографика*/
	list-style: none;
	line-height: 18px;
	/*Оформление*/

	/*Анимация*/
}

.filter-input:hover + label,
.filter-input:focus + label {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #663d15;
	/*Оформление*/

	/*Анимация*/
}
.filter-input:disabled + label {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	opacity: 0.5;
	/*Анимация*/
}
																			/*ASIDE-FILTER-END*/

											
																			/*CATALOG-SECTION*/

.catalog {
	/*Позиционирование*/

	/*Блочная модель*/
	width: 750px;
	height: auto;
	/*Типографика*/

	/*Оформление*/

	/*Анимация*/
}
.catalog-item {
	/*Позиционирование*/

	/*Блочная модель*/
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin-right: 20px;
	margin-bottom: 20px;

	/*Типографика*/

	/*Оформление*/
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 1, 1, 0.1);
	/*Анимация*/
}

.catalog-item:hover,
.catalog-item:focus {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	
	/*Оформление*/
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	/*Анимация*/
}
.catalog-item:nth-of-type(3n) {
	/*Позиционирование*/
	
	/*Блочная модель*/
	margin-right: 0px;
	/*Типографика*/
	
	/*Оформление*/

	/*Анимация*/
}


.catalog-category {
	/*Позиционирование*/

	/*Блочная модель*/
	display: block;
	/*Типографика*/
	text-transform: none;
	/*Оформление*/

	/*Анимация*/
}

.catalog-list {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	
	/*Оформление*/
	list-style: none;
	/*Анимация*/
}

.buy-button:focus,
.buy-button:hover	{
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #663d15;
	/*Анимация*/
}

.pagination {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
.pagination-item a {
	/*Позиционирование*/

	/*Блочная модель*/
	/*Типографика*/
	color: #ffffff;
	text-align: center;
	/*Оформление*/
	background-color: #000000;
	/*Анимация*/
	}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #663d15;
	/*Анимация*/
}
.current-pagination a,
.current-pagination a:focus,
.current-pagination a:hover,
.current-pagination a:active {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	background-color: #ffffff;
	/*Анимация*/
}

																					/*CATALOG-SECTION*/