body {
	
	/*Позиционирование*/
	margin: 0px;
	padding: 0px;
	
	/*Блочная модель*/

	/*Типрографика*/
	text-transform: uppercase;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	line-height: 24px;
	font-weight: 700;
	font-size: 14px;
	color: white;

	/*Оформление*/
	background-color: #000000;
	background-image: url("../img/jpg/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;

	/*Анимация*/
}

a
{
	/*Позицонирвание*/

	/*Блочная модель*/

	/*Типографика*/
	color: inherit;
	text-decoration: none;

	/*Оформление*/

	/*Анимация*/

}


																				/*HEADER*/
.main-nav {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	color: #ffffff;
	/*Оформление*/
	background-color: #000000;
	/*Анимация*/
}

.site-nav {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
.site-nav a {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	font-weight: inherit;
	
	/*Оформление*/

	/*Анимация*/
}
.site-nav a:focus:not(.link-visit),
.site-nav a:hover:not(.link-visit ) {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #242424;
	/*Анимация*/
}
.link-visit {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	border-bottom: 1px solid #ffffff;
	/*Анимация*/
	
}
.user-nav {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}
																				/*HEADER-END*/

																				/*SECTION ADVANTAGES*/
.advantages {
	text-align: center;
}
.advantages ul {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типрографика*/
	list-style: none;
	/*Оформление*/

	/*Анимация*/
}

.advantages h3 {
	/*Позиционирование*/

	/*Блочная модель*/
 
	/*Типографика*/
	font-size: 30px;
	line-height: 42px;
	/*Оформление*/

	/*Анимация*/
}

.advantages h3::after {
	content: "";
	width: 32px;
	height: 31px;
	background-image: url("../img/png/social/vk.png");
}
																						/*SECTION ADVANTAGES-END*/

																						/*SECTION NEWS-GALLERY*/																	*/
.wrap-section {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типрографика*/
	color: #000000;

	/*Оформление*/
	background-color: #f7f4f1;
	background-image: url("../img/png/bg/bg-section-small.png");
	
	/*Анимация*/
}
.wrap-section h2 {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size: 30px;
	line-height: 42px;

	/*Оформление*/

	/*Анимация*/
}
																					/*SECTION NEWS-GALLERY-END*/

																					/*FOOTER*/
.main-footer {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #232323;
	background-image: url("../img/png/bg/bg-footer-small.png");
	/*Анимация*/
}

.footer-contact {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	text-align: left;
	/*Оформление*/

	/*Анимация*/
}

.footer-social ul {
	/*Позиционирование*/

	/*Блочная модель*/
	padding: 0px;
	margin: 0px;
	/*Типографика*/
	
	/*Оформление*/
	list-style:none;
	/*Анимация*/
}

.button.copyright-button:hover {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	color: #000000;
	/*Оформление*/
	background-color: #ffffff;
	/*Анимация*/
}
																							/*FOOTER-END*/

																							/*POPUP*/
.popup-user-form {
	/*Позиционирование*/
	
	/*Блочная модель*/

	/*Типографика*/
	color: #000000;

	/*Оформление*/
	background-color: #f2f2f2;
	background-image: url("../img/png/bg/bg-section-small.png");

	/*Анимация*/
}

.popup-user-form h2 {
	/*Позиционирование*/

	/*Блочная модель*/
	
	/*Типографика*/
	font-size: 30px;
	line-height: 42px;
	/*Оформление*/

	/*Анимация*/
}

.popup-user-form a {
	/*Позиционирование*/
	
	/*Блочная модель*/

	/*Типографика*/
	text-decoration: underline;
	/*Оформление*/

	/*Анимация*/
}

.popup-form input {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/
	font-size:inherit;
	text-transform: inherit;
	font-family: inherit;
	font-weight: inherit;

	/*Оформление*/
	background-color: #f9f6f3;
	border: 2px solid #000000;
	/*Анимация*/
}
.user-login:focus,
.user-password:focus {
	border-radius: 0px;
	outline: none;
}
.popup-form input::placeholder {
	color: #000000;
}		
																					/*POPUP-END*/
			
																					/*PATTERN*/


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типография*/
	color: #faf7f4;
	font-size: 14px;
	font-weight: inherit;
	text-transform: inherit;
	text-align: center;
	vertical-align: middle;
	/*Оформление*/
	background-color: #000000;
	border: none;
	/*Анимация*/
}

.button:hover {
	/*Позиционирование*/

	/*Блочная модель*/

	/*Типографика*/

	/*Оформление*/
	background-color: #242424;
	/*Анимация*/

}

																						/*PATTERN-END*/