body {
	
	/*Позиционирование*/
	margin: 0px;
	padding: 0px;
	



	/*Блочная модель*/





	/*Типрографика*/

	background-color: black;
	font-size: 14px;

	/*Оформление*/
	background-image: url("");


	
	/*Анимация*/



}